.call-to-action {
  background: url('#{$image-path}/pages/sustainability/background-top.jpg') no-repeat;
  padding: 0;
  background-size: cover;
  background-position: top center;
  padding: 2rem 1rem 2rem 1rem;

  .section-wrapper {
    @include box-shadow();

    background: rgba(230, 233, 242, $backdrop-opacity-darkest);
    padding: 1rem 1rem 0 1rem;

    @include media-breakpoint-up(md) {
      max-width: map-get($grid-breakpoints, "md");
    }

    .row {
      padding-bottom: 1rem;
    }

    img {
      @include media-breakpoint-up(xs) {
        max-width: 315px;
      }

      @include media-breakpoint-up(md) {
        max-width: 275px;
      }
    }

    span {
      display: block;

      @include media-breakpoint-up(xs) {
        padding: 0;
      }

      @include media-breakpoint-up(md) {
        &:first-child {
          padding-bottom: 1rem;
        }
      }
    }

    .header {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
