.details {
  @include box-shadow();

  background: url('#{$image-path}/pages/sustainability/background-bottom.jpg') no-repeat;
  padding: 0;
  background-size: cover;
  background-position: top center;
  padding: 1rem;

  .section-wrapper {
    @include box-shadow();

    background: rgba(230, 233, 242, $backdrop-opacity-darkest);
    padding: 1rem 1.5rem 0 1.5rem;

    ul {
      list-style-type: none;
      padding: 1rem 0 0 0;
    }

    li {
      padding-bottom: 1rem;
    }

    img {
      max-width: 300px;
    }

    strong {
      color: $color-five;
    }

    .header {
      text-align: center;
      font-weight: bold;
      padding-bottom: 1rem;

      @include media-breakpoint-up(xs) {
        span {
          display: block;
        }
      }
    }
  }
}
