#sustainability {
  main {
    display: flex;
    flex-direction: column;
    min-height: 100%;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  @import "pages/sustainability/call-to-action";
  @import "pages/sustainability/statistics";
  @import "pages/sustainability/details";
}
