.statistics {
  @include box-shadow-all-sides();

  padding: 0;

  .section-wrapper {
    @include box-shadow();

    background: rgba(234, 180, 100, $backdrop-opacity-dark);
    padding: 1rem 1.5rem 0.5rem 1.5rem;

    strong {
      @include text-stroke(1, $color-black);

      color: $color-white;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      &:not(:last-child) {
        padding-bottom: 1rem;
      }
    }

    .col-12 {
      padding-bottom: 1rem;
    }

    @include media-breakpoint-up(xs) {
      .row {
        max-width: initial;
      }
    }

    @include media-breakpoint-up(md) {
      .row {
        max-width: map-get($grid-breakpoints, "sm");
      }
    }
  }
}
