.call-to-action {
  background: url('#{$image-path}/background.jpg') no-repeat;
  padding: 0;
  background-size: cover;
  background-position: top center;

  height: 100vh;

  @include media-breakpoint-up(xs) {
    height: calc((var(--vh, 1vh) * 100) - 70px);
  }

  @include media-breakpoint-up(sm) {
    height: calc((var(--vh, 1vh) * 100) - 147px);
  }

  @include media-breakpoint-up(lg) {
    height: calc((var(--vh, 1vh) * 100) - 69px);
  }

  // @include media-breakpoint-up(xs) {
  //   min-height: calc(100vh - 70px);
  // }

  // @include media-breakpoint-up(sm) {
  //   min-height: calc(100vh - 147px);
  // }

  // @include media-breakpoint-up(lg) {
  //   min-height: calc(100vh - 69px);
  // }

  .section-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;

    .body {
      align-items: flex-start;
      padding: 1rem 1.5rem 1rem 1.5rem;

      @include media-breakpoint-up(maximum) {
        max-width: map-get($grid-breakpoints, "lg");
      }
    }

    .banner {
      background: rgba(255,255,255, 0.6);
      align-items: flex-end;
      margin-top: auto;
      color: $color-black;
      text-transform: uppercase;
      padding: 1.5rem 1rem;

      @include secondary-font();

      .fa-exclamation-circle {
        font-size: 2rem;

        @include media-breakpoint-up(xs) {
          margin-right: 1rem;
        }
      }

      .col-12 {
        display: flex;
        justify-content: center;
        align-items: center;

        @include media-breakpoint-up(xs) {
          span {
            display: inline;
            padding-right: 0.5rem;
          }
        }

        @include media-breakpoint-up(sm) {
          span {
            display: block;
          }
        }

        @include media-breakpoint-only(md) {
          span {
            display: block;
          }
        }

        @include media-breakpoint-up(lg) {
          span {
            display: inline;
          }
        }
      }

      .row {
        @include media-breakpoint-up(maximum) {
          max-width: map-get($grid-breakpoints, "lg");
        }
      }
    }
  }
}
